
{% extends 'base.html' %}

{% block content %}
{% load static %}

  <link rel="stylesheet" href="{% static 'chats/bootstrap3.3/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'chats/chat.css' %}">

  <div id="app" class="app">

    <!-- LEFT SECTION -->

    <section id="main-left" class="main-left">
      <!-- header -->
      <div id="header-left" class="header-left">
        <span class="glyphicon glyphicon-menu-hamburger hamburger-btn"></span>
<!--        <span class="glyphicon glyphicon-search search-btn"></span>-->
        <span class="glyphicon glyphicon-option-vertical option-btn"></span>
      </div>

      <!-- chat list -->
      <div id="chat-list" class="chat-list">
        <!-- user lists -->
        {% for conversation in conversations %}

        <a href="{% url 'chat' conversation.sender.id %}"><div id="friends" class="friends">
          <!-- photo -->
          <div class="profile friends-photo">
            <img src="{% static 'chats/images/ava4.jpg' %}" alt="">
          </div>

          <div class="friends-credent">
            <!-- name -->
            <span class="friends-name">{{ conversation.sender.fname }} {{ conversation.sender.lname }}</span>
            <!-- last message -->
            <span class="friends-message">{{ conversation.message }}</span>
          </div>
          <!-- notification badge -->
<!--          <span class="badge notif-badge">7</span>-->
        </div></a>

        {% endfor %}

      </div>

      <!-- self-profile -->
      <div id="self-info" class="self-info">
        <!-- photo -->
        <div class="profile your-photo">
          <img src="{% static 'chats/images/ava1.png' %}" alt="">
        </div>
        <!-- name -->
        <h4 class="name your-name">{{request.user.fname}} {{request.user.lname}}</h4>
        <!-- setting btn -->
        <span class="glyphicon glyphicon-cog"></span>
      </div>
    </section>



    <!-- RIGHT SECTION -->

    <section id="main-right" class="main-right">
      <!-- header -->
      <div id="header-right" class="header-right">
        <!-- profile pict -->
        <div id="header-img" class="profile header-img">
          <img src="{% static 'chats/images/ava2.jpg' %}" alt="">
        </div>

        <!-- name -->
        <h4 class="name friend-name">{{fname_value}} {{lname_value}}</h4>

        <!-- some btn -->
        <div class="some-btn">
<!--          <span class="glyphicon glyphicon-facetime-video"></span>-->
<!--          <span class="glyphicon glyphicon-earphone"></span>-->
<!--          <span class="glyphicon glyphicon-option-vertical option-btn"></span>-->
        </div>
      </div>

      <!-- chat area -->
      <div id="chat-area" class="chat-area">
        <!-- chat content -->
        {% for message in messages %}


        <!-- FRIENDS CHAT TEMPLATE -->
        {% if message.sender != user %}

        <div id="friends-chat" class="friends-chat">
          <div class="profile friends-chat-photo">
            <img src="{% static 'chats/images/ava2.jpg' %}" alt="">
          </div>
          <div class="friends-chat-content">
<!--            <p class="friends-chat-name">Mario Gomez</p>-->
            <p class="friends-chat-balloon">{{ message.message }}</p>
            <h5 class="chat-datetime">{{message.timestamp}}</h5>
          </div>
        </div>

        {% else %}
        <!-- YOUR CHAT TEMPLATE -->
        <div id="your-chat" class="your-chat">
          <p class="your-chat-balloon">{{ message.message }}</p>
          <p class="chat-datetime"><span class="glyphicon glyphicon-ok"></span> {{message.timestamp}}</p>
        </div>
        {% endif %}

        {% endfor %}


      </div>

      <!-- typing area -->
       <form method="POST" action="{% url 'send_message' recipient.id %}">
                    {% csrf_token %}
      <div id="typing-area" class="typing-area">
        <!-- input form -->
        <input id="type-area" class="type-area" name="message" placeholder="Type something...">
        <!-- attachment btn -->
        <div class="attach-btn">
          <span class="fas fa-microphone"></span>
        </div>
        <!-- send btn -->
        <button><span class="glyphicon glyphicon-send send-btn"></span></button>
      </div>
       </form>
    </section>
  </div>
    <!-- jQuey, Popper, BootstrapJS -->
    <script src="{% static 'chats/bootstrap3.3/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'chats/bootstrap3.3/js/bootstrap.min.js' %}"></script>
{% endblock %}
